.card-1{
    margin-left: 50px;

    background-color: white
}
.light-card-2{
  background-color: black;
    margin-right:50px;
    

   
}
.right-card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .middlebottom-card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }