@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;0,700;1,400&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
  background-color: lightgray
  
}
.light{
  height: 100%;
  width: 100%;
  background-color: white;
  font-family: "Rubik", sans-serif;
  color:black

}
.dark{
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: "Rubik", sans-serif;
  color:white

}

