@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
  background-color: lightgray;
}
.light {
  background-color: lightgray;
}
.dark {
  background-color: rgb(33, 33, 33);
  
}
.profile {
  background-color: black;
  color: white;
  font-family: "Playfair Display", serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}
